{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="handle">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6">
                        <div>
                            <b>{{ object.party.name }}</b> - {{ object.question.title }}: {{ object.answer_type.answer}}
                        </div>
                        <div>
                            {{ object.description }}
                        </div>
                        <div>
                            <a href="{{ object.source }}" target="_blank">{{ object.source }}</a>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <a href="{% url 'delete_answer' object.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'approve_answer' object.id %}" class="btn btn-success">Approve</a>
                </div>
            </div>
            {% crispy form %}
        </div>
    </div>
</div>
{% endblock %}
