{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div class="handle">
    <div class="row">
        <div class="col-lg-12">
            {% if stuff.handled %}
                <h1 class="handled">Handle {{stuff.title}} ({{total}})</h1>
            {% else %}
                <h1>Handle {{stuff.title}} ({{total}})</h1>
            {% endif %}
            {{ stuff.date }}<br/>
            <a href="{{ stuff.url }}">{{stuff.url}}</a>
            <ul>
                {% for party in stuff.parties.all %}
                <li>{{party.name}}</li>
                {% endfor %}
            </ul>
            <a href="/admin/stuff/{{stuff.id}}/done" class="btn btn-success">Mark done</a>
            <div class="row">
                <div class="col-lg-6 source-content">
                        {{ stuff.content|safe }}
                </div>
                <div class="col-lg-6">
                {% if stuff.source_type.name == "twitter" %}
                    <div id="tweet" tweetID="{{tweetId}}"></div>
                    <script sync src="https://platform.twitter.com/widgets.js"></script>
                    <script>
                        window.onload = (function(){

                        var tweet = document.getElementById("tweet");
                        var id = tweet.getAttribute("tweetID");

                        twttr.widgets.createTweet(
                            id, tweet,
                            {
                            conversation : 'none',    // or all
                            cards        : 'hidden',  // or visible
                            linkColor    : '#cc0000', // default is blue
                            theme        : 'light'    // or dark
                            })
                        });
                    </script>
                {% else %}
                    <iframe id="web-iframe" src="{{stuff.url}}" frameborder="0"></iframe>
                {% endif %}
                </div>
            </div>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseQuestion" role="button" aria-expanded="false" aria-controls="collapseQuestion">
                Add question
            </a>
            <div class="row admin">
                <div class="collapse" id="collapseQuestion">
                    {% crispy question_form %}
                </div>
            </div>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseAnswer" role="button" aria-expanded="false" aria-controls="collapseAnswer">
                Add answer
            </a>
            <div class="row admin">
                <div class="collapse" id="collapseAnswer">
                    {% crispy answer_form %}
                </div>
            </div>
            <h2>Answers</h2>
            <ul>
                {% for answer in answers %}
                    <li>{{answer.question.title}} - {{answer.answer_type}} ({{answer.party}})
                            {{answer.date}}
                        <a href="/admin/answer/delete/{{answer.id}}" class="btn btn-danger">Delete</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="row">
                <div class="col-lg-6">
                    <a href="/admin/stuff/{{stuff.id}}/done" class="btn btn-success">Mark done</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

// Onload
var selectedQuestionId;

document.addEventListener("DOMContentLoaded", function(event) {
    var questionIdElement = document.getElementById("id_question");
    
    var partiskComplete = new autoComplete({
        selector: document.getElementById("question_autocomplete"),
        minChars: 3,
        source: function (term, suggest) {
            var request = new XMLHttpRequest();

            request.onreadystatechange = function() {
                console.log(request.responseText);
                if(request.readyState === 4 && request.status === 200) {
                    var data = JSON.parse(request.responseText);
                    var result = [];

                    suggest(data.suggestions.filter(d => d.data.type === 'q'));
                }
            }

            request.open('GET', serviceUrl + "?query=" + term + "&type=question", true);
            request.send();
        },
        renderItem: function (s, c) {
            return '<li class="autocomplete-suggestion" data-id="' + s.data.id + '" data-value="' + s.value + '"><i class="fa fa-question-circle-o"></i>' + splitText(s.value, c) + '</li>';
        },
        onSelect: function (e, c, item) {
            console.log(item.dataset);
            questionIdElement.value = item.dataset.id;
        }
    });
});
</script>
{% endblock %}
