.table {
    display: flex;
    flex-flow: column nowrap;
    font-size: .8rem;
    line-height: 1.5;
    flex: 1 1 auto;
}

.table > div:first-child {
    border-top: 1px solid #d0d0d0;
}

.table .name, .table .filler {
    flex-grow: 12;
}

.table .answer, .table .table-logo {
    flex-grow: 2;
}

.theader {
    display: none;
    font-weight: 700;
    background-color: #f2f2f2;
}

.theader > .tcol {
    white-space: normal;
    justify-content: center;
}

.trow {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.trow.head {
    position: sticky;
    top: 0px;
}

.trow:nth-of-type(even) {
    background-color: #f2f2f2;
}

.trow:nth-of-type(odd) {
    background-color: #ffffff;
}

.tcol {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0px;
    border-bottom: 1px solid #d0d0d0;
    align-items: center;
}

.tcol.name, .tcol.filler {
    border-right: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}

.tcol.answer, .tcol.table-logo {
    border-right: 1px solid #d0d0d0;
    min-height: 50px;
}

.tcol.answer * {
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: gray;
}

.answery-type-0 {
}

.answer-type-1 {
    background-color: #dfd;;
}

.answer-type-2 {
    background-color: #fdd;
}

@media (min-width:1180px) {
    .table .party-logo {
        display: block;
    }

    .table .party-logo-small {
        display: none;
    }
}

@media (max-width: 1180px) {
    .table .party-logo {
        display: none;
    }

    .table .party-logo-small {
        display: block;
    }

    .table .tcol {
        padding: 0;
    }
}

@media (max-width: 520px) {
    .tcol.name, .tcol.filler {
        width: 100%;
        border-right: none;
        border-left: none;
    }

    .trow {
        flex-flow: row wrap;
    }

    .tcol {
        flex-basis: auto;
    }

    .trow .tcol:nth-child(2) {
        border-left: 1px solid #d0d0d0;
    }

    .trow:nth-of-type(odd) {
        background-color: transparent;
    }

    .trow:nth-of-type(odd) .tcol.empty, .head.trow {
        background-color: #ffffff;
    }

    .trow:nth-of-type(even) {
        background-color: transparent;
    }

    .trow:nth-of-type(even) .tcol.empty {
        background-color: #f2f2f2;
    }

    .content .trow {
        margin-top: 20px;
    }

    .content .answer {
        position: relative;
    }

    .content .answer .party-logo-small {
        opacity: 0.5;
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        top: 25%;
    }
}
