{% extends "base.html" %}
{% block social %}
    {% include "social.html" with title='Om' description='Om Partisk.nu' image='images/logo.png' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Om Partisk.nu</h1>
            <p>Partisk är en oberoende, fristående och öppen tjänst som samanställer vad Sveriges partier tycker i olika frågor. Vi presenterar datan i enkla tabeller
            och med hjälp av quiz hjälper vi besökarna att få ett bättre förståelse för vad partierna står för.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Historia</h2>
            <p>Tjänsten grundades av <a href="{% url 'contact' %}#rasmus">Rasmus Haglund</a> som saknade ett bra sätt att få ett grepp om vad Sveriges partier tycker
            utan att behöva läsa igenom alla deras hemsidor, partiprogram och dokument. Rasmus började att samanställa frågor och svar i en stor tabell men insåg
            snabbt att andra skulle kunna ha nytta av datan och bestämde sig då för att skapa en gratis onlinetjänst baserad på transparans och öppen källkod.</p>
            <p>Efter den första betaversionen 2014 började <a href="{% url 'contact' %}#emil">Emil Wall</a>, <a href="{% url 'contact' %}#rikard">Rikard Nordström</a> och
            <a href="{% url 'contact' %}#johan">Johan Gudmundsson</a> hjälpa till med utveckling, sociala medier och insamling av data.</p>
            <p>Inför valet 2014 var Partisk.nu den största oberoende valkompassen utan koppling till näringsliv, bidrag eller stat. Månaden innan valet gjordes
            över 25,000 quiz vilket översteg alla våra mål.</p>
            <p>Efter valet hamnade tjänsten i lågenergiläge men i slutet av 2017 drog utvecklingen av en ny version igång med målet att spela en avgörande roll i riksdagsvalet, 
            denna gång med hjälp av <a href="{% url 'contact' %}#rasmus">Rasmus Haglund</a>, <a href="{% url 'contact' %}#emil">Emil Wall</a>, 
            <a href="{% url 'contact' %}#rikard">Rikard Nordström</a> och <a href="{% url 'contact' %}#kristoffer">Kristioffer Blejkmark</a>.
            </p>
        </div>
    </div>
{% endblock %}
