{% extends "base.html" %}
{% block social %}
    {% include "social.html" with title='Om' description='Om Partisk.nu' image='images/logo.png' %}
{% endblock %}
{% block breadcrumbs %}
    {{block.super}}
    <span class="divider">&gt;</span>
    <span class="breadcrumb">Om</span>
{% endblock %}
{% block title %}Om{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Om Partisk.nu</h1>
            <p>Partisk är en oberoende, fristående och öppen tjänst som samanställer vad Sveriges partier tycker i olika frågor. Vi presenterar datan i enkla tabeller
            och med hjälp av quiz hjälper vi besökarna att få ett bättre förståelse för vad partierna står för.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Historia</h2>
            <p>Tjänsten grundades av <a href="#rasmus">Rasmus Haglund</a> som saknade ett bra sätt att få ett grepp om vad Sveriges partier tycker
            utan att behöva läsa igenom alla deras hemsidor, partiprogram och dokument. Rasmus började att samanställa frågor och svar i en stor tabell men insåg
            snabbt att andra skulle kunna ha nytta av datan och bestämde sig då för att skapa en gratis onlinetjänst baserad på transparans och öppen källkod.</p>
            <p>Efter den första betaversionen 2014 började <a href="#emil">Emil Wall</a>, <a href="#rikard">Rikard Nordström</a> och
            <a href="#johan">Johan Gudmundsson</a> hjälpa till med utveckling, sociala medier och insamling av data.</p>
            <p>Inför valet 2014 var Partisk.nu den största oberoende valkompassen utan koppling till näringsliv, bidrag eller stat. Månaden innan valet gjordes
            över 25,000 quiz vilket översteg alla våra mål.</p>
            <p>Efter valet hamnade tjänsten i lågenergiläge men i slutet av 2017 drog utvecklingen av en ny version igång med målet att spela en avgörande roll i riksdagsvalet, 
            denna gång med hjälp av <a href="#rasmus">Rasmus Haglund</a>, <a href="#emil">Emil Wall</a>,
            <a href="#rikard">Rikard Nordström</a> och <a href="#kristoffer">Kristioffer Blejkmark</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Personerna bakom tjänsten</h2>
            <h3 id="rasmus">Rasmus Haglund</a></h3>
            <p>Initiativtagare och grundare till Partisk.nu. Entreprenör, utvecklare och egenföretagare. Konsult och fullstack utvecklare.</p>
            <p class="social"><a href="https://www.facebook.com/rasmus.haglund" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="https://twitter.com/rasmushaglund" title="Twitter"><i class="fa fa-twitter-square"></i></a>
                <a href="https://plus.google.com/+RasmusHaglund" rel="publisher" title="Google+"><i class="fa fa-google-plus-square"></i></a>
                <a href="http://www.linkedin.com/in/rasmushaglund" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://github.com/rasmushaglund/" title="GitHub"><i class="fa fa-github"></i></a>
            <a href="mailto:rasmus.haglund@partisk.nu" title="Mail"><i class="fa fa-envelope"></i></a></p>
            <h3 id="emil">Emil Wall</h3>
            <p class="social"><a href="https://www.facebook.com/erif89" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="https://twitter.com/erif89" title="Twitter"><i class="fa fa-twitter-square"></i></a>
                <a href="https://plus.google.com/+EmilWall" rel="publisher" title="Google+"><i class="fa fa-google-plus-square"></i></a>
                <a href="http://www.linkedin.com/pub/emil-wall/56/779/633/" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://github.com/emilwall" title="GitHub"><i class="fa fa-github"></i></a></p>
            <h3 id="rikard">Rikard Nordström</h3>
                <p class="social"><a href="https://www.facebook.com/rikard.nordstrom.7" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                <a href="http://www.linkedin.com/pub/rikard-nordstr%C3%B6m/83/807/213" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
                <a href="https://github.com/RikardNordstrom" title="GitHub"><i class="fa fa-github"></i></a></p>
            <h3 id="kristoffer">Kristoffer Bjelkmark</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Cookies</h2>
            <p>Tjänsten använder cookies för att låta besökarna ska kunna anpassa vilka partier som ska vara synliga och genomföra quiz.
            Cookies används även för att samla in anonym statistik via <a href="https://www.google.com/analytics/#?modal_active=none">Google Analytics</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Tack till</h2>
                Johan Gudmundsson, Sara Klasson, Tommy Dahlin
            </p>
        </div>
    </div>
{% endblock %}
