{% extends "base.html" %}
{% block social %}
    {% include "social.html" with title='Om' description='Om Partisk.nu' image='images/logo.png' %}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Om Partisk.nu</h1>
            <p>Med hjälp av visualiseringar hjälper vi till att visa vad partierna tycker i de viktigaste frågorna. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>Historia</h2>
            <p>Vi har samlat en stor mängd frågor och svar som vi visar upp på ett sätt som är enkelt att förstå. </p>
        </div>
    </div>
{% endblock %}
