{% extends "base.html" %}
{% block social %}
    {% include "social.html" with title='Hem' description='Vi gör politik lättare att förstå' image='images/logo.png' %}
{% endblock %}
{% block title %}Vi gör politik lättare att förstå{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Vi gör politik lättare att förstå</h1>
            <p>Vårt mål är att hjälpa dig förstå vad partierna tycker i de viktigaste frågorna med hjälp av enkla tabeller, tydliga svar och omfattande quiz.
            Vi har gått igenom många olika källor och material som vi sedan samanställt och presenterat i form av enkla ja/nej svar.
            Vår samanställning av <a href="{% url 'questions' %}">frågor och svar</a> ger en unik inblick i vad partierna verkligen tycker och genom våra många
            <a href='{% url 'quizzes' %}'>quiz</a> får du hjälp att förstå deras åsikter.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2><i class="fa fa-thumbs-o-up"></i> Vad tycker partierna?</h2>
            <p>Vi har samlat en stor mängd <a href="{% url 'questions' %}">frågor och svar</a> som vi visar upp på ett sätt som är enkelt att förstå.</p>
        </div>
        <div class="col-6">
            <h2><i class="fa fa-check-square-o"></i> Vilket parti ska jag rösta på?</h2>
            <p>Gör <a href='{% url 'quizzes' %}'>någon av våra quiz</a> för att ta reda på vilket parti som matchar dina åsikter och värderingar bäst.</p>
        </div>
    </div>
{% endblock %}
