    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <!-- Search Engine -->
    <meta name="description" content="{{ description }}">
    <meta name="image" content="{{ image }}">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="{{ title }}">
    <meta itemprop="description" content="{{ description }}">
    <meta itemprop="image" content="{{ image }}">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:site" content="@partisknu">
    <meta name="twitter:creator" content="@rasmushaglund">
    <meta name="twitter:image:src" content="{{ image }}">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ description }}">
    <meta name="og:image" content="{{ image }}">
    <meta name="og:url" content="https://www.partisk.nu">
    <meta name="og:site_name" content="Partisk.nu">
    <meta name="og:locale" content="sv_SE">
    <meta name="fb:admins" content="628912403818291">
    <meta name="og:type" content="website">
